[Unit]
Description=Cocktail Recipe Service
After=network.target

[Service]
User=root
WorkingDirectory=/app/
ExecStart=venv/bin/python3.8 main.py recipes log.txt
Restart=always

[Install]
WantedBy=multi-user.target
