[Unit]
Description=Cocktail Recipe Service
After=network.target

[Service]
User=root
WorkingDirectory=/app/
ExecStart=/app/venv/bin/python3.8 main.py recipes log.txt
ExecStop=/app/scripts/stop_server.sh
Restart=always

[Install]
WantedBy=multi-user.target
